# --- PYTHON BASICS ---
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- JUPYTER NOTEBOOKS ---
.ipynb_checkpoints

# --- ENVIRONMENT & CONFIG ---
.env
.envrc
.venv
env/
venv/
ENV/

# --- IDE SETTINGS ---
# VS Code
.vscode/
# PyCharm (JetBrains)
.idea/
# Spyder
.spyderproject
.spyproject
# Mac OS
.DS_Store

# --- DATA & OUTPUTS ---
*.csv
*.xlsx
*.xls
*.pkl
*.pickle
*.h5
*.parquet
*.json
*.zip
*.tar.gz


# --- LOGS & TESTING ---
*.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.hypothesis/
.pytest_cache/